@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

html {
    height: auto;
    min-height: 100%;
}

*{
    margin: 0;
    font-family: Oswald, cursive;
    background-color: #dad7cd;
    color: #3a5a40;
}

.barra-navegacion {
    background-color: transparent;
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    height: 90px;
    flex-wrap: nowrap;
    position: fixed;
    width: 100%;
    transition: background-color .3s ease-in-out;
    z-index: 5;
}

.barra-navegacion.scrolled {
    background-color: #344e41;
    color: #fff;
    transition: background-color .3s ease-in-out;
}    

.barra-navegacion.scrolled .barra-desktop-items{
    background-color: #344e41;
    color: #dad7cd;
} 
.barra-navegacion.scrolled .barra-desktop li{
    background-color: #344e41;
}

.barra-desktop{
    list-style-type: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    margin: 0px;
    padding: 0px;  
}

.barra-desktop li{
    transition: transform 0.3s ease;
    background-color: #dad7cd;
}

.barra-desktop-items{
    text-decoration: none;
    color: #344e41;
    margin: 0px 10px;
    transition: background-color 0.9s, color 0.9s;
    display: flex;
    align-content: center;
}


li:hover {
    transform: scale(1.2);
}

.contenedor-presentacion{
    display: flex;
    width: 100%;
    height: 97vh;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden;
    margin: 0 auto;
    padding: 100px 0px 50px;
}

.contenedor-presentacion-texto{
    display: flex;
    flex-direction: column;
    font-size: 30px;
    align-items: center;
}

.contenedor-presentacion-texto-simple {
    font-size: 30px;
    text-align: center;
}

.contenedor-presentacion-texto-subtitulo{
    font-size: 30px;
    text-align: center;
    animation: updown 3s infinite;
    color: #344e41;
}

@keyframes updown {
    0% { transform: translateY(0); }
    50% { transform: translateY(-5px); }
    100% { transform: translateY(0); }
}

.cv{
    background-color: #344e41;
    color: #dad7cd;
    text-decoration: none;
    width: 20%;
    text-align: center;
    margin-bottom: 20px;
    transition: border-radius 0.3s ease, transform 0.3s ease-in;
}

.cv:hover{
    border-radius: 10px;
    transform: scale(1.1);
}

.avatar{
    width: 300px;
    border-radius: 30px;
    max-width: 250px;
    padding: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}


.avatar:hover {
  transform: scale(1.1) rotate(5deg); 
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); 
}

.contenedor-seccion{
    display: flex;
    width: 100%;
    padding-top: 50px 0;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-content: center;
    margin: 0 auto;
}

.contenedor-seccion-titulo{
    color: #344e41;
    font-size: 50px;
    width: 80%;
    text-align: center;
    margin: 20px;
}

.contenedor-seccion-subseccion{
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.contenedor-seccion-subseccion-texto-titulo{
    font-size: 40px;
}

.contenedor-seccion-subseccion-texto{
    text-align: center;
    width: 70%;
}

.contenedor-seccion-subseccion-imagen{
    width: 30%;
    margin: 10px;
    text-align: center;
}

.imagen-yo {
    width:80%;
}

.link-educacion{
    color: #344e41;
}

.contenedor-seccion-iconos{
    background-color: #344e41;
    font-size: 20px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
}

.contenedor-seccion-iconos-titulo{
    color: #dad7cd;
    font-size: 30px;
    background-color: #344e41;
    width: 100%;
}

.contenedor-seccion-iconos-div{
    background-color: #344e41;
    color: #dad7cd;
    width: 70px;
    border-radius: 30px;
    margin: 10px;
    padding: 5px;
    transition: transform .3s ease;
}

.contenedor-seccion-iconos-div:hover{
    transform: scale(1.2);
}

#contenedor-seccion-iconos-i{
    background-color: #344e41;
    color: #dad7cd;
}

.titulo-proyecto{
width: 100%;
font-size: 1.2em;
}

.texto-proyectos{
    background-color: #c5c295;
    color: #fff;
    border-radius: 30px 0px;
    font-size: 30px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    padding: 20px;
    flex-wrap: nowrap;
    width: 80%;
    margin: 20px;
}

.contenedor-seccion-subseccion-texto-info-a{
    background-color: #344e41;
    border-radius: 10px;
    padding: 5px;
    color: #dad7cd;
    text-decoration: none;
}

.imagen-proyecto {
    margin: 20px;
    width: 60%;
}

.imagen-proyecto img{
    width: 100%;
}

.imagen-proyecto:hover{
    transform: scale(1.05);
    border: 2px solid #344e41;
}


.contenedor-contactame{
    background-color: #c5c295;
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    overflow: hidden;
    padding-bottom: 50px;
}

#contacto{
    margin: 0px;
}

#contacto a{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-wrap: wrap;
}

#contacto-iconos{
    background-color: #a6a867;
    padding: 20px;
    border-radius: 30px;
    font-size: 2em;
    color: #fff;
    margin: 20px;
}

#contacto-iconos:hover{
    font-size: 2.5em;
}

.iconos-tecnologias:hover{
    font-size: 1.2em;
}

.contenedor-final{
    width: 100%;
    background-color: #a6a867;
    display: flex;
    justify-content: center;
    align-content: center;
}

.linea-separadora{
    margin-top: 20px;
    position: absolute;
    left: 9%;
    border-top: 5px solid #344e41;
    width: 80%;
    animation: desaparecer 5s infinite; 
}

.contenedor-seccion-form{
    display: flex;
    justify-content: center;
}

.contenedor-seccion-form form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    background-color: #344e41;
    margin-bottom: 30px;
    width: 80%;
    padding: 10px 0;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3); 
    border-radius: 10px;
}


form label {
    background-color: #344e41;
    color: #dad7cd;
}

form input {
    width: 80%;
}


@keyframes desaparecer{
    0%{transform: translateX(0px);}
    50%{transform: translateX(-20px);}
    100%{transform: translateX(0px);}
}

@media (max-width: 500px){
    .imagen-proyecto {
        width: 90%;
    }
}

@media (min-width: 500px){
    form input {
        width: 30%;
    }
}

